TLDR dijkstra's finds the shortest path from a given node to EVERY other node. orr maybe stops at the intended end node ig

to init,
1. import all the nodes and distances between nodes DONE
2. place everything into 1 data structure DONE
to start traversing the graph,
3. init ?list? with dist. from start node of all nodes. SN-SN is 0, SN-everything else is infinite
4. init "path" ?hash map? to retrace path.
5. create priority queue (min-heap) based on shortest dist. from SN. but how????? using adjacency matrix.
- get directly adjacent to start node. check if in 'not added' list, then remove.
- get directly adjacent to adjacent. check if in 'not added' list, then remove.
- repeat until 'not added' is empty, or 
repeat:
6. pop node NN at top of priority queue.
7. for each neighbour of NN, check if path through NN offers a shorter path to neighbour. (a lot of the rewriting will start happening, since literally anything will be shorter than infinity.)
until EITHER end node is reached OR all nodes are reached


*** should I be using a linked list for this?
*** does this mean that dijkstra's algo only checks each node once? Yes.. I think so?

In [1]:
import pandas as pd

In [2]:
#load data
intervals=pd.read_csv('intervals.csv')
stn_name=pd.read_csv('station_name.csv')

In [3]:
#preprocess
intervals=intervals.map(lambda x: x.strip() if isinstance(x, str) else x)
stn_name=stn_name.map(lambda x: x.strip() if isinstance(x, str) else x)

In [4]:
#save dataframe as csv
intervals.to_csv('intervals.csv', index=False)
stn_name.to_csv('station_name.csv', index=False)

In [ ]:
# intervals.head(10)

  Start   End  Duration
0   DT1   DT2         2
1   DT2   DT3         1
2   DT3   DT4         2
3   DT4   DT5         3
4   DT5   DT6         2
5   DT6   DT7         2
6   DT7   DT8         2
7   DT8   DT9         2
8   DT9  DT10         2
9  DT10  DT11         2

In [ ]:
# stn_name.head(10)

   Code          Name
0  CC29  Harbourfront
1   NE1  Harbourfront
2   NE3   Outram Park
3  EW16   Outram Park
4  TE17   Outram Park
5   NE4     Chinatown
6  DT19     Chinatown
7  NS24   Dhoby Ghaut
8   NE6   Dhoby Ghaut
9   CC1   Dhoby Ghaut

In [17]:
class Graph:
	def __init__(self, size):
		self.adj_matrix = {}
		self.size = size
		self.count = 0
		self.vertex_data = {}

	def add_edge(self, start, end, time):
		if start in self.vertex_data and end in self.vertex_data:
			self.adj_matrix[start][end] = time

	def add_vertex_data(self, vertex, data): #for vertex
		self.vertex_data[vertex] = data
		self.adj_matrix[vertex]={}
		self.count+=1

	def remove_vertex_data(self, vertex):
		#call remove edge first, then remove entire vertex from vertex_data and adj_matrix
		#count remove 1
		pass

	def remove_edge(self, start, end):
		#call remove edge for all edges connected to this vertex: first remove on this side, then use the key to remove on the other side
		pass

	def get_station_code(self, station_name):
		codes = [k for k, v in self.vertex_data.items() if v == station_name]
		return codes
	
	def get_station_name(self, station_code):
		name = self.vertex_data[station_code]
		return name
		
	def dijkstra(self, start_name):
		start_code = self.get_station_code(start_name) #get code of station by name
		distances = [float('inf')] * self.count
		distances[start_code[0]] = 0 #ALERTTTTT START_CODE USES THE FIRST CODE IN THE LIST. maybe change later.
		not_added = self.vertex_data.keys()
		print(not_added)

		for _ in range(self.size): #visit every node once only
			min_distance = float('inf') #set to +ve infinity value
			u = None
			for i in range(self.size): #will only run if not visited and distance has already been rewritten
				if not visited[i] and distances[i] < min_distance: #but distances[i]
					min_distance = distances[i]
					u = i

			if u is None:
				break

			visited[u] = True

			for v in range(self.size):
				if self.adj_matrix[u][v] != 0 and not visited[v]:
					alt = distances[u] + self.adj_matrix[u][v]
					if alt < distances[v]:
						distances[v] = alt
		
		return distances
	
	def __str__(self):
		result = "List of nodes:\n"
		for key,value in self.vertex_data.items():
			result += f"{key}: {value}\n"
		return result

In [14]:
size=len(stn_name)
interval_size=len(intervals)
mrt_map=Graph(size)

for i in range(size):
    mrt_map.add_vertex_data(stn_name.iloc[i,0],stn_name.iloc[i,1]) #iloc is used to access the data in the dataframe
    
for i in range(interval_size):
    mrt_map.add_edge(intervals.iloc[i,0], intervals.iloc[i,1], int(intervals.iloc[i,2]))

In [9]:
for key, value in mrt_map.adj_matrix.items():
	print(f"{key}: {value}")

CC29: {'CC28': 2, 'NE1': 2}
NE1: {'NE3': 4, 'CC29': 2}
NE3: {'NE4': 2, 'NE1': 4, 'EW16': 2, 'TE17': 2}
EW16: {'EW17': 2, 'EW15': 2, 'NE3': 2, 'TE17': 2}
TE17: {'TE18': 2, 'TE16': 2, 'EW16': 2, 'NE3': 2}
NE4: {'NE3': 2, 'DT19': 2}
DT19: {'DT20': 3, 'DT18': 1, 'NE4': 2}
NS24: {'NS25': 3, 'NS23': 2, 'NE6': 2, 'CC1': 2}
NE6: {'NE7': 1, 'NS24': 2, 'CC1': 2}
CC1: {'CC2': 2, 'NS24': 2, 'NE6': 2}
NE7: {'NE8': 1, 'NE6': 1, 'DT12': 2}
DT12: {'DT13': 2, 'DT11': 2, 'NE7': 2}
NE8: {'NE9': 2, 'NE7': 1}
NE9: {'NE10': 3, 'NE8': 2}
NE10: {'NE11': 1, 'NE9': 3}
NE11: {'NE12': 2, 'NE10': 1}
NE12: {'NE13': 3, 'NE11': 2, 'CC13': 2}
CC13: {'CC14': 2, 'CC12': 2, 'NE12': 2}
NE13: {'NE14': 2, 'NE12': 3}
NE14: {'NE15': 2, 'NE13': 2}
NE15: {'NE16': 2, 'NE14': 2}
NE16: {'NE17': 3, 'NE15': 2, 'STC': 2}
STC: {'SW1': 2, 'SE1': 2, 'SW8': 3, 'SE5': 3, 'NE16': 2}
NE17: {'NE18': 2, 'NE16': 3, 'PTC': 2}
PTC: {'PW1': 2, 'PE1': 3, 'PE7': 2, 'NE17': 2}
NE18: {'NE17': 2}
PE1: {'PE2': 1, 'PTC': 3}
PE2: {'PE3': 1, 'PE1': 1}
PE3: {'PE4': 1, 'PE2': 1}
PE4: {'PE5': 1, 'PE3': 1}
PE5: {'PE6': 1, 'PE4': 1}
PE6: {'PE7': 1, 'PE5': 1}
PE7: {'PTC': 2, 'PE6': 1}
PW1: {'PW2': 1, 'PTC': 2}
PW2: {'PW3': 2, 'PW1': 1}
PW3: {'PW4': 2, 'PW2': 2}
PW4: {'PW5': 2, 'PW3': 2}
PW5: {'PW6': 1, 'PW4': 2}
PW6: {'PW7': 1, 'PW5': 1}
PW7: {'PW6': 1}
SE1: {'SE2': 1, 'STC': 2}
SE2: {'SE3': 1, 'SE1': 1}
SE3: {'SE4': 1, 'SE2': 1}
SE4: {'SE5': 2, 'SE3': 1}
SE5: {'STC': 3, 'SE4': 2}
SW1: {'SW2': 1, 'STC': 2}
SW2: {'SW3': 1, 'SW1': 1}
SW3: {'SW4': 1, 'SW2': 1}
SW4: {'SW5': 1, 'SW3': 1}
SW5: {'SW6': 1, 'SW4': 1}
SW6: {'SW7': 1, 'SW5': 1}
SW7: {'SW8': 1, 'SW6': 1}
SW8: {'STC': 3, 'SW7': 1}
CC2: {'CC3': 2, 'CC1': 2}
CC3: {'CC4': 2, 'CC2': 2}
CC4: {'CC5': 6, 'CC3': 2, 'CE1': 2, 'DT15': 2}
CC5: {'CC6': 2, 'CC4': 6}
CC6: {'CC7': 2, 'CC5': 2}
CC7: {'CC8': 2, 'CC6': 2}
CC8: {'CC9': 2, 'CC7': 2}
CC9: {'CC10': 2, 'CC8': 2, 'EW8': 2}
EW8: {'EW9': 2, 'EW7': 2, 'CC9': 2}
CC10: {'CC11': 2, 'CC9': 2, 'DT26': 2}
DT26: {'DT27': 2, 'DT25': 1, 'CC10': 2}
CC11: {'CC12': 2, 'CC10': 2}
CC12: {'CC13': 2, 'CC11': 2}
CC14: {'CC15': 2, 'CC13': 2}
CC15: {'CC16': 3, 'CC14': 2, 'NS17': 2}
NS17: {'NS18': 2, 'NS16': 4, 'CC15': 2}
CC16: {'CC17': 2, 'CC15': 3}
CC17: {'CC19': 3, 'CC16': 2, 'TE9': 2}
TE9: {'TE11': 4, 'TE8': 3, 'CC17': 2}
CC19: {'CC20': 2, 'CC17': 3, 'DT9': 2}
DT9: {'DT10': 2, 'DT8': 2, 'CC19': 2}
CC20: {'CC21': 2, 'CC19': 2}
CC21: {'CC22': 2, 'CC20': 2}
CC22: {'CC23': 2, 'CC21': 2, 'EW21': 2}
EW21: {'EW22': 3, 'EW20': 2, 'CC22': 2}
CC23: {'CC24': 2, 'CC22': 2}
CC24: {'CC25': 2, 'CC23': 2}
CC25: {'CC26': 2, 'CC24': 2}
CC26: {'CC27': 2, 'CC25': 2}
CC27: {'CC28': 2, 'CC26': 2}
CC28: {'CC29': 2, 'CC27': 2}
CE1: {'CE2': 2, 'CC4': 2, 'DT16': 2}
CE2: {'CE1': 2, 'NS27': 2, 'TE20': 2}
TE20: {'TE22': 3, 'TE19': 2, 'NS27': 2, 'CE2': 2}
NS27: {'NS28': 3, 'NS26': 2, 'CE2': 2, 'TE20': 2}
NS2: {'NS3': 2, 'NS1': 3}
NS3: {'NS4': 4, 'NS2': 2}
NS4: {'NS5': 3, 'NS3': 4, 'BP1': 2}
BP1: {'BP2': 1, 'NS4': 2}
BP2: {'BP3': 2, 'BP1': 1}
BP3: {'BP4': 2, 'BP2': 2}
BP4: {'BP5': 2, 'BP3': 2}
BP5: {'BP6': 2, 'BP4': 2}
BP6: {'BP7': 2, 'BP5': 2, 'BP13': 2, 'DT1': 2}
DT1: {'DT2': 2, 'BP6': 2}
BP7: {'BP8': 2, 'BP6': 2}
BP8: {'BP9': 2, 'BP7': 2}
BP9: {'BP10': 2, 'BP8': 2}
BP10: {'BP11': 2, 'BP9': 2}
BP11: {'BP12': 2, 'BP10': 2}
BP12: {'BP13': 2, 'BP11': 2}
BP13: {'BP6': 2, 'BP12': 2}
NS5: {'NS7': 5, 'NS4': 3}
NS7: {'NS8': 3, 'NS5': 5}
NS8: {'NS9': 2, 'NS7': 3}
NS9: {'NS10': 3, 'NS8': 2, 'TE2': 2}
TE2: {'TE3': 3, 'TE1': 2, 'NS9': 2}
NS10: {'NS11': 3, 'NS9': 3}
NS11: {'NS12': 3, 'NS10': 3}
NS12: {'NS13': 3, 'NS11': 3}
NS13: {'NS14': 2, 'NS12': 3}
NS14: {'NS15': 6, 'NS13': 2}
NS15: {'NS16': 2, 'NS14': 6}
NS16: {'NS17': 4, 'NS15': 2}
NS18: {'NS19': 2, 'NS17': 2}
NS19: {'NS20': 3, 'NS18': 2}
NS20: {'NS21': 2, 'NS19': 3}
DT11: {'DT12': 2, 'DT10': 2, 'NS21': 2}
NS21: {'NS22': 3, 'NS20': 2, 'DT11': 2}
NS22: {'NS23': 2, 'NS21': 3, 'TE14': 2}
TE14: {'TE15': 2, 'TE13': 2, 'NS22': 2}
NS23: {'NS24': 2, 'NS22': 2}
NS28: {'NS27': 3}
CG1: {'CG2': 4, 'CG': 3, 'DT35': 2}
DT35: {'DT34': 2, 'CG1': 2}
CG2: {'CG1': 4}
CG: {'CG1': 3, 'EW4': 2}
EW4: {'EW5': 3, 'EW3': 3, 'CG': 2}
EW1: {'EW2': 3}
EW2: {'EW3': 3, 'EW1': 3, 'DT32': 2}
DT32: {'DT33': 2, 'DT31': 2, 'EW2': 2}
EW3: {'EW4': 3, 'EW2': 3}
EW5: {'EW6': 3, 'EW4': 3}
EW6: {'EW7': 3, 'EW5': 3}
EW7: {'EW8': 2, 'EW6': 3}
EW9: {'EW10': 3, 'EW8': 2}
EW10: {'EW11': 2, 'EW9': 3}
EW11: {'EW12': 2, 'EW10': 2}
EW12: {'EW13': 3, 'EW11': 2, 'DT14': 2}
DT14: {'DT15': 2, 'DT13': 2, 'EW12': 2}
EW13: {'EW14': 2, 'EW12': 3, 'NS25': 2}
NS25: {'NS26': 2, 'NS24': 3, 'EW13': 2}
EW14: {'EW15': 3, 'EW13': 2, 'NS26': 2}
NS26: {'NS27': 2, 'NS25': 2, 'EW14': 2}
EW15: {'EW16': 2, 'EW14': 3}
EW17: {'EW18': 2, 'EW16': 2}
EW18: {'EW19': 3, 'EW17': 2}
EW19: {'EW20': 2, 'EW18': 3}
EW20: {'EW21': 2, 'EW19': 2}
EW22: {'EW23': 3, 'EW21': 3}
EW23: {'EW24': 4, 'EW22': 3}
EW24: {'EW25': 3, 'EW23': 4, 'NS1': 2}
NS1: {'NS2': 3, 'EW24': 2}
EW25: {'EW26': 2, 'EW24': 3}
EW26: {'EW27': 3, 'EW25': 2}
EW27: {'EW28': 2, 'EW26': 3}
EW28: {'EW29': 4, 'EW27': 2}
EW29: {'EW30': 3, 'EW28': 4}
EW30: {'EW31': 3, 'EW29': 3}
EW31: {'EW32': 2, 'EW30': 3}
EW32: {'EW33': 2, 'EW31': 2}
EW33: {'EW32': 2}
TE1: {'TE2': 2}
TE3: {'TE4': 4, 'TE2': 3}
TE4: {'TE5': 3, 'TE3': 4}
TE5: {'TE6': 3, 'TE4': 3}
TE6: {'TE7': 2, 'TE5': 3}
TE7: {'TE8': 2, 'TE6': 2}
TE8: {'TE9': 3, 'TE7': 2}
TE11: {'TE12': 2, 'TE9': 4, 'DT10': 2}
DT10: {'DT11': 2, 'DT9': 2, 'TE11': 2}
TE12: {'TE13': 2, 'TE11': 2}
TE13: {'TE14': 2, 'TE12': 2}
TE15: {'TE16': 2, 'TE14': 2}
TE16: {'TE17': 2, 'TE15': 2}
TE18: {'TE19': 1, 'TE17': 2}
TE19: {'TE20': 2, 'TE18': 1}
TE22: {'TE23': 4, 'TE20': 3}
TE23: {'TE24': 2, 'TE22': 4}
TE24: {'TE25': 2, 'TE23': 2}
TE25: {'TE26': 2, 'TE24': 2}
TE26: {'TE27': 2, 'TE25': 2}
TE27: {'TE28': 2, 'TE26': 2}
TE28: {'TE29': 3, 'TE27': 2}
TE29: {'TE28': 3}
DT2: {'DT3': 1, 'DT1': 2}
DT3: {'DT4': 2, 'DT2': 1}
DT4: {'DT5': 3, 'DT3': 2}
DT5: {'DT6': 2, 'DT4': 3}
DT6: {'DT7': 2, 'DT5': 2}
DT7: {'DT8': 2, 'DT6': 2}
DT8: {'DT9': 2, 'DT7': 2}
DT13: {'DT14': 2, 'DT12': 2}
DT15: {'DT16': 2, 'DT14': 2, 'CC4': 2}
DT16: {'DT17': 2, 'DT15': 2, 'CE1': 2}
DT17: {'DT18': 1, 'DT16': 2}
DT18: {'DT19': 1, 'DT17': 1}
DT20: {'DT21': 1, 'DT19': 3}
DT21: {'DT22': 2, 'DT20': 1}
DT22: {'DT23': 2, 'DT21': 2}
DT23: {'DT24': 2, 'DT22': 2}
DT24: {'DT25': 3, 'DT23': 2}
DT25: {'DT26': 1, 'DT24': 3}
DT27: {'DT28': 2, 'DT26': 2}
DT28: {'DT29': 2, 'DT27': 2}
DT29: {'DT30': 2, 'DT28': 2}
DT30: {'DT31': 3, 'DT29': 2}
DT31: {'DT32': 2, 'DT30': 3}
DT33: {'DT34': 3, 'DT32': 2}
DT34: {'DT35': 2, 'DT33': 3}

In [18]:
mrt_map.get_station_code("Outram Park")
# mrt_map.get_station_name('NE3')

['NE3', 'EW16', 'TE17']

In [ ]:
mrt_map.dijkstra("Dhoby Ghaut")  # Example usage of Dijkstra's algorithm

TypeError: list indices must be integers or slices, not str

: